#content-overlay {
    position: absolute;
    width: 50%;
    z-index: 2;
	
}

#content, #footer {
    width: 100%;
    margin: 1%;
    padding: 1%;
    background: rgba(240, 194, 204, 0.5)
}

#nav {
    position: fixed;
    right: 3%;
    top: 5%;
    background: #528fd4;
    padding: 0.5%;
    z-index: 1;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4 {
    text-align:center;
}

h1.bigger {
    font-size: 55px;
    margin: 0;
}

a {
    color: #329c9c;
}
a:visited {
    color: #1d5d66;
}
a:hover, a:active, a:focus {
    color: #de804e;
}

#nav a {
    color: black;
    text-decoration: none;
}

#nav a:hover {
    color: #707070;
}

#nav h3 {
    text-align: right;
}

#nav .thispage {
    color: #A15C67;
}


body {
    background-color: #BC8D9D;
    font-family: "Bookman Old Style";

}

#apples {
    float: right;
    width: 55%;
}
