:root {
    --contentback: rgba(247, 230, 255, 0.7);
    --navback: #dbf58e;
    --purple1: #8a28b8;
    --purple2: #c71cbb;
    --purple3: #801778;
    --orange:  #de804e;
}

#content-overlay {
    position: relative;
    top: 400px;
    margin:auto;
    width: 90%;
    z-index: 2;
}

#content {
    width: 100%;
    margin: 1%;
    padding: 1%;
    background: var(--contentback);
}

#footer {
    position: relative;
    float: right;
    text-align: right;
    color: var(--purple3);
    font-size: 8px;
}
.footerBlock {
    border: 2px solid var(--purple3);
    float: right;
}

#nav {
    position: fixed;
    right: 3%;
    top: 5%;
    background: var(--contentback);
    padding: 0.5%;
    z-index: 1;
}

/* Photography portfolio section */
body #plain {
    background-color: black;
    color: white;
}

.imageSectionTitle {
    text-align: left;
}

/* .loadImage { */
/*     border: 2px black; */
/*     width: 75%; */
/*     padding: 2% */
/* } */
/* end */

#background {
    float: right;
    width: 55%;
}

.loadImage {
    max-width: 95%;
    height: auto;
}


.name-arrow {
    float: left;
}

.name-arrow:hover {
    color: var(--orange);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-contents {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1.bigger {
    font-size: 55px;
    margin: 0;
}

a {
    color: var(--purple2);
}

a:visited {
    color: var(--purple3);
}

a:hover,
a:active,
a:focus {
    color: var(--orange);
}

#nav a {
    text-decoration: none;
    text-color: black;
}

.quiet {
    text-decoration: none;
}

a.quiet:visited {
    color: var(--purple3);
}

#nav a:hover,
#nav a:active,
#nav a:focus {
    color: var(--orange);
}

#nav h3 {
    text-align: right;
}

#nav .thispage {
    color: var(--purple1);
}


body {
    background-color: var(--purple1);
    font-family: "Bookman Old Style";
}


div#images {
    text-align: center;
}

.shuffle-image {
    border: 2px solid black;
    width: 50%;
    margin: auto;
    display: none;
}

button#shuffle {
    background-color: #5f724f;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    display: inline;
}

button#shuffle:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
