<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>charlotte &#183; {{ page.title }}</title>
  <link rel="stylesheet" href="css/custom.css">
</head>

<body>
  <h1 id="pwd"> 
    &#9733;
    <i><a href="https://www.charlotte-schluger.com/" class="quiet">charlotte-schluger.com</a></i>
    {% if page.title!="home" %}
    <br>
    <i style="padding-left: 5%">&gt; {{ page.title }}</i>
    {%endif %}
  </h1>
  <img src="assets/ArcaneBullshit_ManySkulls1.svg/ArcaneBullshit_ManySkulls1.svg" alt="skulls" id="background">

  <!-- <img src="assets/fall1.jpg" alt="me" id="background"> -->
  <div id="nav">
    <h1 class="bigger" id="name">Charlotte Schluger</h1>
    <h2 class="name-arrow" id="name-arrow-left">&#8592; </h2>
    <h2 class="name-arrow" id="name-arrow-right"> &#8594;</h2>
    <h3>
      <a href="https://www.charlotte-schluger.com/" {% if page.title=="home" %} class="thispage" {% endif %}>
        Home</a>
      &#183;
      <a href="https://www.charlotte-schluger.com/science.html" {% if page.title=="science" %} class="thispage" {%
        endif %}>Science</a>
      &#183;
      <a href="https://www.charlotte-schluger.com/photos.html" {% if page.title=="photos" %} class="thispage" {% endif
        %}>Photos</a>
    </h3>
  </div>
  <div id="content-overlay">
    <div id="content">
      {{ content }}
    </div>
  </div>
  <!-- <div id="footer"> -->
  <!--   {% include footer.html %} -->
  <!-- </div> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="scripts/style.js"></script>
  <script src="scripts/header.js"></script>
  {% if page.title=="photos" %}
  <script src="scripts/photos.js"></script>
  {% endif %}

</body>

</html>
