<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/custom.css">
  </head>
  <body>
    <img src="assets/fall1.jpg" alt="me" id="apples">
    <div id="nav">
      <h1 class="bigger">Jack Schluger</h1>
      <h3><a href="https://jschluger.github.io/">Home</a></h3>
    </div>
    <div id="content-overlay">
      <div id="content">
	{{ content }}
      </div>
      <div id="footer">
	{% include footer.html %}
      </div>
    </div>


  </body>
</html>
